@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* For Firefox Browser */
  * {
    scrollbar-width: none;
  }
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    @apply invisible hidden opacity-0;
  }
  *::-webkit-scrollbar-track {
    @apply invisible hidden opacity-0;
  }
  *::-webkit-scrollbar-thumb {
    @apply invisible hidden opacity-0;
  }
}
body {
  @apply text-white bg-main-900 font-inter;
}

input[type="range"]::--webkit-slider-thumb {
  @apply w-3 h-3 rounded-full appearance-none pointer-events-auto;
}

.heart {
  transition: heart;
}
@keyframes heart {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.5);
  }
}
